
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
}

.logo img{
    width: 205px;
    height: 190px;
}

.logo{
    margin-right: 574px;
    width: auto;
    height: auto;
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.selector_lung button{
    border: none;
    cursor: pointer;
    background-color: #3D9FCA;
    color: white;
    width: 103px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.selector_lung{
    position: relative;
}

.language_menu{
    position: absolute;
    z-index: 1;
    margin-top: 3px;
    color: white;
    letter-spacing: 0.3px;
    list-style-type: none;
    background-color: #3D9FCA;
    border-radius: 0 10px 0 10px;
    display: none;
}

.language_item{
    cursor: pointer;
    width: 103px;
    height: 30px;
    padding-top: 5px;
    text-align: center;
}

.language_item:hover{
    background-color: #3f86a5;
    border-radius: 0 10px 0 10px;
}

.switch_background button{
    cursor: pointer;
    border: none;
    border-radius: 100px;
    width: 85px;
    height: 37px;
    background-image: url(../);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85px;
}

.switch_background button img{
    width: 27px;
    height: 27px;
    margin-right: 40px;
}

.icon_earth{
    position: absolute;
    z-index: 1;
    margin-top: 9px;
    margin-left: 16px;
}

.icon_drop_down_language{
    position: absolute;
    z-index: 1;
    margin-top: -19px;
    margin-left: 76px;
}
